.form-groups {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;

  .form-group {
    width: 350px;
  }

  .countrySearch {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding: inherit;
    width: 295px;
    position: absolute;
    z-index: 1;

    .country-error {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
    }

    .country-error, .countries {
      margin: 10px 20px 10px 20px;
      list-style-type: none;
    }

    .countries {
      padding: 5px;
      cursor: pointer;
      border: 1px solid white;

      .country-name {
        display: block;
        width: 100%;
        text-decoration: none;

        ::ng-deep .country-color{
          color: #8bc34a;
        }
      }
    }
  }
}

.selected {
  border: 1px solid #c8c8c8;
  box-shadow: 1px 1px 4px 1px #c8c8c8;
}
