<main>
  <section>
    <form [formGroup]="form" class="form-groups">
      <div class="form-group">
        <app-input-country-search
          formControlName="country"
        ></app-input-country-search>
      </div>
      <ul class="countrySearch">
        <li class="country-error" *ngIf="error.length">
          <span>{{error}}</span>
        </li>
        <li
          *ngFor="let country of countries; trackBy: trackByFn"
          (click)="onClickCountry(country.name)"
          class="countries"
        >
          <span
            appHighlightedCountry
            [inputCountry]="inputCountry"
            [country]="country.name"
            class="country-name"
          >{{country.name}}</span>
        </li>
      </ul>

    </form>
  </section>
</main>



